body{
    font-family: 'Poppins', sans-serif;
    color:white;
    background-color: black;
    margin:0;
    padding: 0;
    width: 100%;
    height: auto;
     overflow-x:hidden; 
}
/*MODIFICAÇÕES DO CABEÇALHO */
#cabecalho-conteiner{
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/487826525373143008/6B21ECD5BB7A77D0A96F9913A19F8CB0843F82A0/?imw=1024&imh=576&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
    width: 100%;
    height: 100px;
    box-shadow: 10px 5px 5px black;
    background-color: #27472D;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}



#menu{
    display: none;
    width: 100%; 
}




#burguer{
    background-color: #27472D;
    width: 100%;
    color: white;
    text-align: left;
    cursor: pointer;
}




div#burguer:hover{
    background-color: white;
    color: black;
}


.opcaos{
    background-color: #27472D;
    width: 8%;
    display: flex;
    flex-direction: column;
    align-items:left;
}



div.opcaos:hover{
    color: black;
    background-color: white;
}




#opcaos-paginas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}






#opcoes-subconteiner{
    display: flex;
    background-color: rgb(33,38,23);
    box-shadow: 10px 5px 5px black;
    justify-content: space-around;
    width: 100%;
    gap: 3px;
}
/*-----------------------------------------------------*/
a{
    text-decoration: none;
    color:yellowgreen;
}



a:hover{
    color: rgb(113,235,154);
}




.links{
    text-decoration: none;
     color:white;
    width: 95px;
    border-radius:20%;
    
}



img{
    max-width: 100%;
    height: auto;
}








/*------------------------------------------------------*/


#main-conteiner{
box-shadow: 10px 5px 5px black;
background-color:rgb(25, 48, 30);
display: flex;
flex-direction:row;
justify-content: space-around;
margin-top:2%;
width: 100%;

}


/*MODIFIÇÃO DAS DIVS FILHAS*/

#primeiro-conteudo{
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 95%;
}




/*---------MODIFICAÇÃO NO BEM VINDO-------------*/
#bemvindo-conteiner{
border-right: 2px solid white;
width: 60%;
height: 60%;
padding: 4%;
display:flex;
flex-direction: column;

}




.subconteiner-bemvindo{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}


em{
    color: #c3f200;
}




.dicas-observa{
    background-color:rgba(0,0,0,0.6);
    box-shadow: 10px 5px 5px black;
    padding: 3px;

}



/*----------------------------*/

h1{
    border-bottom: 4px solid white;
}



h2{
    border-bottom: 4px solid white;
    width: 60%;
}



#Noticias-conteiner{
    padding: 5px;
    width: 540px;
    height: 450px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}




h1+a{
    color: yellow;
    font-size:20px;
}




h1+a+p{
    color: yellow;
    font-size:12px;
}




iframe{
    width:85%;
    height: 80%;
    padding:5px;
}
/*------------------------------------------*/

/*MODIFICAÇÕES DO RODA PÉ */

footer{
box-shadow: 10px 5px 5px black;
background-color:rgb(25, 48, 30) ;
height: 58px;
display: flex;
align-items: center;
justify-content: flex-end;
margin: 10px;
}





.link-redes{
    margin: 5px;
}
/*-------------------------------------------*/


/*MODIFICAÇÕES DO SEGUNDO CONTEUDO DA pagina*/

#main-conteiner2{
    box-shadow: 10px 5px 5px black;
    background-color:rgb(25, 48, 30);
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:5%;
    padding: 0;
    margin-top:0px;
    width: 100%;
}



#conteudo-dois{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    justify-content:flex-start;
    gap:10%;
    width: 100%;

}



#mapa-chernarus{
    width: 100%;
    height: 75%;
    padding: 2%;
}




#Lista-perguntas{
    background-color: rgb(33,38,21);
    width: 80%;
    height: fit-content;
    padding: 10px;  
    border: 2px solid white ;  
    box-shadow: 10px 5px 5px black;                          
}




.respostas-lista{
    color: #c3f200;
}




.back-ground-lista{
background-color: rgb(33,38,21);
padding: 3px;
width: 70%;
margin: 0;
box-shadow: 10px 5px 5px black;
border: 2px solid white ;  
}
